.sub-title > h3{    
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    padding-left: 200px;
    padding-bottom: 100px;
}


html, body{
    width: 100%;
    margin: 0 0 0 200px;
    }

.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 50px 0 0 500px;
}

img {
    width: 500px;
    height:500px;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
}

.button {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    background: #444;
    color: #fff;
  
    border-radius: 5px;
}

.button:hover {
    background: rgb(38, 36, 36);  
}

.footer {
    position: absolute; 
    bottom: 0;
    text-align: center; 
    padding: 0px 500px 0 0;
    width: 100%;
    }

